<h3 style="margin: 0 auto; text-align: center">Prijava ispita</h3>

<span *ngIf="!exams?.length">Nema ispita koje bi mogli da prijavite</span>

<p *ngIf="showSuccessMessage" style="color: green">
  Ispit je uspešno prijavljen
</p>
<p *ngIf="showErrorMessage" style="color: red">
  Došlo je do greške prilikom prijave ispita
</p>

<div>
  <div>
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        {{
          selectedPeriod ? selectedPeriod.name : "Svi aktivni ispitni rokovi"
        }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <div *ngFor="let period of examPeriods; index as i">
          <button ngbDropdownItem (click)="pickPeriod(period)">
            {{ period.name }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <table
    *ngIf="exams?.length"
    class="table table-striped"
    style="width: 60%; margin: 0 auto"
  >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Naziv predmeta</th>
        <th scope="col">ESPB</th>
        <th scope="col">Datum polaganja</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exam of exams; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ exam.performance.course.name }}
        </td>
        <td>{{ exam.performance.course.espb }}</td>
        <td>{{ exam.date }}</td>
        <td>
          <div
            [matTooltip]="
              examRegistrationPeriodPassed(exam)
                ? 'Prošao je rok za prijavu ovog ispita'
                : ''
            "
            [matTooltipDisabled]="!examRegistrationPeriodPassed(exam)"
          >
            <button
              class="btn btn-primary"
              (click)="selectedExam = exam; open(confirmRegistration)"
              [disabled]="examRegistrationPeriodPassed(exam)"
            >
              Prijavi ispit
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #confirmRegistration let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Potvrda prijave ispita</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="registerExam()"
      ></button>
    </div>
    <div class="modal-body">
      Jeste li sigurni da želite da prijavite ispit iz predmeta
      {{ selectedExam.performance.course.name }} ?
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close()"
      >
        Odustani
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="registerExam(); modal.close('Save click')"
      >
        Prijavi ispit
      </button>
    </div>
  </ng-template>
</div>
