<meta charset = "UTF-8" />
<body style="background-color: #f5f5f5">

<div class="container text-center" style="width: 45%;">

    <h1>Dodavanje nastavnika</h1>
    <form style="padding: 10px;" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
        <label for="name" class="sr-only">Ime</label>
        <input type="text" class="form-control" required autofocus name="name" ngModel placeholder="name" required /><br />
        <label for="lastname" class="sr-only">Prezime</label>
        <input type="text" class="form-control" required autofocus name="lastname" ngModel placeholder="lastname"><br />
        <label for="jmbg" class="sr-only">JMBG</label>
        <input type="text" class="form-control" required autofocus name="jmbg" ngModel placeholder="jmbg"><br />
        <label for="address" class="sr-only">Adresa</label>
        <input type="text" class="form-control" required autofocus name="address" ngModel placeholder="address"><br />
        <label for="username" class="sr-only">Korisničko ime</label>
        <input type="text" class="form-control" required autofocus name="username" ngModel placeholder="username"><br />
        <label for="gender" class="sr-only">Pol</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Izaberite pol</option>
            <option value="MALE">Muški</option>
            <option value="FEMALE">Ženski</option>
        </select>
        <label for="password" class="sr-only">Lozinka</label>
        <input type="password" class="form-control" required autofocus name="password" ngModel placeholder="password"><br />

        <button type="submit" class="btn btn-lg btn-primary btn-block">submit</button>

    </form>

</div>

</body>