<h5>Studenti na kursu</h5>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Broj indeksa</th>
      <th scope="col">Ime i Prezime</th>
      <th scope="col">JMBG</th>
      <th scope="col">Ukloni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of attending">
      <th scope="row">{{ c.student.indexNumber }}</th>
      <td>{{ c.student.user.lastname }} {{ c.student.user.name }}</td>
      <td>{{ c.student.user.jmbg }}</td>

      <td>
        <button
          type="button"
          (click)="remove(c.student.id)"
          class="btn btn-primary"
        >
          Ukloni
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <span class="margin-md"
    >Stranica {{ page + 1 }} od {{ totalPagesCount }}</span
  >
  <button
    class="margin-sm pagination-btn"
    (click)="previousPage()"
    [disabled]="page <= 0"
  >
    prethodna
  </button>
  <button class="margin-sm pagination-btn">
    {{ page + 1 }}
  </button>
  <button
    class="margin-sm pagination-btn"
    [disabled]="page + 1 >= totalPagesCount"
    (click)="nextPage()"
  >
    sledeća
  </button>
</div>
