<div class="text-center" style="padding: 30px; width: 70%; margin: 0 auto">
    <h2>Dodavanje novog predmeta</h2>
    <hr/>
  </div>
  <div class="text-center" style="width: 70%; margin: 0 auto">
    <form style="margin: 20px" [formGroup]="addCourseForm" (ngSubmit)="setCourse()">
      <div style="width: 70%; margin: auto; padding: 10px">
        <input
          style="margin: 10px"
          type="text"
          formControlName="name"
          class="form-control"
          placeholder="Ime"
          required
        />
        <textarea
          style="margin: 10px"
          type="text"
          formControlName="sylabus"
          class="form-control"
          rows="3"
          placeholder="Silabus"
          required>
        </textarea>
        <input
          style="margin: 10px"
          type="text"
          formControlName="espb"
          class="form-control"
          placeholder="espb"
          required
        />  

      </div>
      <br />
      <button type="submit" class="btn btn-outline-dark">Pošalji</button>
    </form>
    <!-- <div *ngIf="message" class="alert alert-success" role="alert">
      {{ message }}
    </div> -->
    <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
      {{ errorMsg }}
    </div>
  </div>
  
