<div class="row" style="padding-top: 5vh; background-color: #f5f5f5">
    <div class="container">
      <div class="text-center">
        <h1>ADMINISTRATOR</h1>
      </div>
      <div
      class="card border container"
      style="margin-top: 2vh; margin-bottom: 20vh; padding: 20px"
    >
    <h4>Bitni linkovi</h4>
    <hr/>   
    <div>
      <ul className="linkovi" style="font-size: 20px;">
          <li><a href="/">Notifikacije 📰</a></li>
          <li><a href="/">Nastavnici 📕</a></li>
          <li><a href="/">Predmeti 💵</a></li>
      </ul>
  </div> 
  
  
    </div>
  </div>
  
  <!-- <app-profile-info></app-profile-info> -->

