<body style="background-color: #f5f5f5">
  <div class="container" style="margin-top: 20px">
    <h3>Dosadašnji ispiti</h3>
    <hr />

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Bodovi iz predispitnih obaveza</th>
          <th scope="col">Bodovi na zavrsnom ispitu</th>
          <th scope="col">Ocena</th>
          <th scope="col">Status</th>
          <th scope="col">Ime studenta</th>
          <th scope="col">Broj indeksa</th>
          <th style="text-align: center" scope="col">Opcije</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let student of students"
          app-student-exam
          [student]="student"
        ></tr>
      </tbody>
    </table>
  </div>
</body>
<!-- student.preExamDutyPoints -->
<!-- student.finalExamPoints -->
