.create-exam-form {
  width: 50% !important;
  margin: 0 auto !important;
}

.create-exam-btn {
  margin: 0 auto !important;
}

.form-margin {
  margin: 20px 20px !important;
}

.margin-right {
  margin-right: 10px !important;
}
