<div style="background-color: #f5f5f5">
  <h3 style="margin: 15px auto; text-align: center">Obaveštenja</h3>
  <div *ngIf="!notifications?.length">
    <h4 style="margin: 15px auto; text-align: center">Nema obaveštenja</h4>
  </div>

  <div class="container notifications-container">
    <button
      class="btn btn-primary add-notification-btn"
      *ngIf="currentUser?.role == 'TEACHER'"
      (click)="openModal(addNotification)"
    >
      Postavi obaveštenje
    </button>
    <div class="row">
      <div
        class="col-md-12"
        *ngFor="let notification of notifications"
        style="margin: 10px"
      >
        <div
          class="card notification-card"
          style="margin: 0 auto; padding: 10px"
        >
          <div>
            <div class="card-body">
              <h5 class="card-title">{{ notification.teacher.name }}</h5>
              <h6 class="card-footer mb-1">
                {{ notification.message }}
              </h6>
              <p class="card-text"></p>
              <div
                *ngIf="
                  currentUser?.role == 'TEACHER' || currentUser?.role == 'ADMIN'
                "
                style="display: flex; justify-content: flex-end"
              >
                <a
                  class="btn btn-primary"
                  style="margin-left: 10px"
                  (click)="delete(notification.id)"
                  >Izbriši</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination">
      <span class="margin-md"
        >Stranica {{ page + 1 }} od {{ totalPagesCount }}</span
      >
      <button
        class="margin-sm pagination-btn"
        (click)="previousPage()"
        [disabled]="page <= 0"
      >
        prethodna
      </button>
      <button class="margin-sm pagination-btn">
        {{ page + 1 }}
      </button>
      <button
        class="margin-sm pagination-btn"
        [disabled]="page + 1 >= totalPagesCount"
        (click)="nextPage()"
      >
        sledeća
      </button>
    </div>
  </div>
</div>

<ng-template #addNotification let-modal>
  <add-notification-modal
    (closeModal)="modal.close(); fetchNotifications()"
  ></add-notification-modal>
</ng-template>
