<div class="text-center" style="padding: 30px; width: 70%; margin: 0 auto">
  <h2>Popunite SV obrazac</h2>
</div>
<div class="text-center" style="width: 70%; margin: 0 auto">
  <form style="margin: 20px" [formGroup]="svForm" (ngSubmit)="setSVForm()">
    <div style="width: 300px; margin: auto; padding: 10px">
      <input
        style="margin: 10px"
        type="text"
        formControlName="name"
        class="form-control"
        placeholder="Ime"
        required
      />
      <input
        style="margin: 10px"
        type="text"
        formControlName="lastName"
        class="form-control"
        placeholder="Prezime"
        required
      />
      <input
        style="margin: 10px"
        type="text"
        formControlName="jmbg"
        class="form-control"
        placeholder="JMBG"
        required
      />
      <input
        style="margin: 10px"
        type="text"
        formControlName="address"
        class="form-control"
        placeholder="Adresa"
        required
      />

      <input
        style="margin: 10px"
        type="text"
        formControlName="index"
        class="form-control"
        placeholder="Broj indeksa"
        required
      />
      <select
        style="width: 80%"
        class="custom-select mb-3"
        formControlName="gender"
        (change)="changeGender($event)"
      >
        <option value="">Izaberite pol</option>
        <option *ngFor="let gender of genders">
          {{ gender }}
        </option>
      </select>
    </div>
    <br />
    <button type="submit" class="btn btn-outline-dark">Pošalji</button>
  </form>
  <!-- <div *ngIf="message" class="alert alert-success" role="alert">
    {{ message }}
  </div> -->
  <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
    {{ errorMsg }}
  </div>
</div>
