<meta charset = "UTF-8" />
<body style="background-color: #f5f5f5">

<div class="container text-center" style="width: 45%;">

    <h1>Dodavanje predmeta</h1>
    <form style="padding: 10px;" #subjectPost="ngForm" (ngSubmit)="onSubmit(subjectPost.value)">
        <label for="name" class="sr-only">Naziv</label>
        <input type="text" class="form-control" required autofocus name="name" ngModel placeholder="Naziv" required /><br />
        <label for="sylabus" class="sr-only">Silabus</label>
        <textarea class="form-control" id="sylabus" name="sylabus" ngModel rows="3"></textarea>
        <label for="ESPB" class="sr-only">ESPB</label>
        <input type="text" class="form-control" required autofocus name="ESPB" ngModel placeholder="ESPB"><br />

        <button type="submit" class="btn btn-lg btn-primary btn-block">submit</button>

    </form>

</div>

</body>
