<div
  class="bg-light border-right"
  id="sidebar-wrapper"
  [ngClass]="status ? 'hide' : 'show'"
>
<div class="sidebar-heading"><h5 style="text-align:center; margin-top: 20px;">Dostupni linkovi</h5></div>
<hr/>  <div class="list-group list-group-flush">
    <a
      routerLink="/dashboard"
      class="list-group-item list-group-item-action bg-light"
      >Glavna stranica</a
    >
    <a
      routerLink="/notifications"
      class="list-group-item list-group-item-action bg-light"
      >Obaveštenja</a
    >
    <a
      routerLink="/exam-registration"
      class="list-group-item list-group-item-action bg-light"
      >Prijava ispita</a
    >
    <a
      routerLink="/exam-history"
      class="list-group-item list-group-item-action bg-light"
      >Istorija polaganja</a
    >
    <a
      routerLink="/preliminary-exams"
      class="list-group-item list-group-item-action bg-light"
      >Preliminarni rezultati</a
    >
    <a
      routerLink="/passed-exams"
      class="list-group-item list-group-item-action bg-light"
      >Položeni predmeti</a
    >
    <a
      routerLink="/registered-exams"
      class="list-group-item list-group-item-action bg-light"
      >Prijavljeni ispiti</a
    >
    <a
    routerLink="/documents"
    class="list-group-item list-group-item-action bg-light"
    >Dokumenta</a>

    <button *ngIf="token" (click)="logoutButton()">Izlogujte se</button>

  </div>
</div>
