<body style="background-color: #f5f5f5">
    <div class="container text-center" style="width: 40%;">
      <form style="padding: 10px; padding-top: 5vh;" (ngSubmit)="onSubmit()">
        <h3>Ažuriranje osobnih podataka</h3>
        <hr/>
          <label for="name">Ime</label>
          <input required type="text" class="form-control" id="name" required [(ngModel)]="user.name" name="name">  
          <label for="lastname">Prezime</label>
          <input type="text" class="form-control" id="lastname" required [(ngModel)]="user.lastname" name="lastName">
    
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
  
          <label for="address">Adresa</label>
          <input type="text" class="form-control" id="address" required [(ngModel)]="user.address" name="address">
  
          <label for="username">Korisničko ime</label>
          <input disabled type="text" class="form-control" id="username" required [(ngModel)]="user.username" name="username">
    
          <label for="jmbg">Jedinstveni matični broj</label>
          <input disabled type="text" class="form-control" id="jmbg" required [(ngModel)]="user.jmbg" name="jmbg">
  
        <button class="btn btn-md btn-primary btn-block" style="margin-top: 20px;">Ažuriraj</button>
      </form>
    </div>
  
  </body>
  
