<body style="background-color: #f5f5f5">

<div class="container" style="margin-top: 20px;">
  <h3>Svi nastavnici</h3>
  <hr/>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Ime</th>
    <th scope="col">Prezime</th>
    <th scope="col">JMBG</th>
    <th scope="col">Korisničko ime </th>
    <th scope="col">Adresa</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let teacher of teachers">
    <th scope="row">{{ teacher.name }}</th>
    <td>{{ teacher.lastname}}</td>
    <td>{{ teacher.jmbg}}</td>
    <td>{{ teacher.username}}</td>
    <td>{{ teacher.address}}</td>

  </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary">Dodavanje novog nastavnika </button>


</div>

</body>
