<body style="background-color: #f5f5f5">
  <div class="container" style="margin: auto">
    <h3 style="margin: 0 auto; text-align: center">Prijavljeni ispiti</h3>
    <table class="table table-striped" style="width: 60%; margin: 0 auto">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Naziv predmeta</th>
          <th scope="col">ESPB</th>
          <th scope="col">Ispitni rok</th>
          <th scope="col">Datum polaganja</th>
          <th scope="col">Učionica</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exam of exams; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ exam.course.name }}
          </td>
          <td>{{ exam.course.espb }}</td>
          <td>{{ exam.examPeriod }}</td>
          <td>{{ exam.date }}</td>
          <td>{{ exam.classroom }}</td>
          <td>
            <a
              class="btn btn-primary"
              (click)="
                openDeregisterExamModal(deregisterExamConfirmation, exam.id)
              "
              >Odjavi ispit</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #deregisterExamConfirmation let-modal>
    <div class="modal-header">
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.close()"
      ></button>
    </div>
    <div class="modal-body">
      <p>Jeste li sigurni da želite da odjavite ovaj ispit?</p>
      <p></p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close()"
      >
        Odustani
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="deregisterExam(); modal.close()"
      >
        Odjavi
      </button>
    </div>
  </ng-template>
</body>
