<div class="text-center" style="padding: 30px">
  <h2>Set your password</h2>
</div>
<div class="text-center" style="padding: 30px">
  <form
    style="margin: 20px"
    [formGroup]="setPasswordForm"
    (ngSubmit)="setPassword()"
  >
    <div style="width: 300px; margin: auto; padding: 10px">
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
        class="form-control"
        placeholder="Lozinka"
        required
      />
    </div>
    <br />
    <button type="submit" class="btn btn-outline-dark">Pošalji</button>
  </form>
  <div *ngIf="message" class="alert alert-success" role="alert">
    {{ message }}
  </div>
  <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
    {{ errorMsg }}
  </div>
</div>
