<body style="background-color: #f5f5f5">
  <div class="container" style="margin: auto">
    <h3>Kartoni studenata</h3>
    <hr />

    <table
      class="table table-striped"
      style="margin-left: auto; margin-right: auto; width: 80%"
    >
      <thead>
        <tr>
          <th scope="col">Ime</th>
          <th scope="col">JMBG</th>
          <th scope="col">Broj indeksa</th>
          <th scope="col">Profil</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of students">
          <th scope="row">{{ s.user.name }} {{ s.user.lastname }}</th>
          <td>{{ s.user.jmbg }}</td>
          <td>{{ s.indexNumber }}</td>
          <td><a class="link-primary" (click)="getCard(s.id)">Pogledaj</a></td>
        </tr>
      </tbody>
      <div>
        <span class="margin-md"
          >Stranica {{ page + 1 }} od {{ totalPagesCount }}</span
        >
        <button
          class="margin-sm pagination-btn"
          (click)="previousPage()"
          [disabled]="page <= 0"
        >
          prethodna
        </button>
        <button class="margin-sm pagination-btn">
          {{ page + 1 }}
        </button>
        <button
          class="margin-sm pagination-btn"
          [disabled]="page + 1 >= totalPagesCount"
          (click)="nextPage()"
        >
          sledeća
        </button>
      </div>
    </table>
    <div style="padding-left: 50px !important"></div>
  </div>
</body>
